{% extends 'homepage.html' %}

{% block content %}

{#
<div>
An {{KNOWL("ec", title="elliptic curve")}} is a {{KNOWL("ag.curve.smooth",title="smooth")}} projective {{KNOWL("ag.curve",title="curve")}} of {{KNOWL("ag.curve.genus",title="genus")}} 1 with a rational basepoint $O$. 
</div>
#}
<style type="text/css">
.error_message {
   padding: 4px;
   color: {{color.red}};
   font-size: 120%;
   font-weight: bold;
   margin: 20px;
}
</style>
{% if err_msg %}
<p class="error_message">
{{err_msg}}
</p>
<p>
  <input type=button value="Search again" onClick="history.go(-1)">
</p>

{% else %}
<div>
{{ KNOWL_INC('dq.ec.extent') }}
</div>

<h2> Browse {{ KNOWL('ec',title='elliptic curves')}} over $\Q$</h2>

<p>
By {{ KNOWL('ec.q.conductor',title = "conductor")}}:
{% for rnge in info.conductor_list %}
<a href="?conductor={{rnge}}">{{rnge}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('ec.q.rank', title="rank")}}:
{% for r in info.rank_list: %}
<a href="?rank={{r}}">{{r}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('ec.q.torsion_order', torsion=t,title="torsion order") }}:
{% for t in info.torsion_list: %}
<a href="?torsion={{t}}">{{t}}</a>
{% endfor %}
</p>
<p>
{#
<a href={{url_for('.todays_curve')}}>Elliptic curve of the day</a>
<br>
#}
A <a href={{url_for('.random_curve')}}>random elliptic curve</a> from the database
</p>


<h2> Find a specific curve or {{
  KNOWL('ec.isogeny_class',title="isogeny class") }} by coefficients or 
  {{ KNOWL('ec.q.lmfdb_label',title="LMFDB label") }} </h2>
{% if err_msg %}
<form action={{url_for('ec.rational_elliptic_curves')}}>
{% else %}
<form>
{% endif %}
<input type='text' name='label' size=25 example="11.a2">
<button type='submit' name='jump' value='curve or isogeny class label'
        >curve, label or isogeny class label</button>
<br><span class="formexample">e.g. 11.a2 or 389.a or Cremona:11a1 or 
[0,1,1,-2,0] or [-3024, 46224]
</span>
</form>

<h2> Search elliptic curves over $\Q$

<form>
<button type='submit' value='Search'>Search</button></h2>
<h5> Invariants </h5>
<table>
<tr>
      <td align='right'>{{ KNOWL('ec.q.conductor',title = "conductor") }}</td>
<td><select name='conductor_quantifier'><option value='is_equal' selected='is_equal'>equals</option><option value='divisible'>divisible by</option></select>
       <input type='text' name='conductor' example="389" size=8 value="{{conductor}}" />
     </td>
     <td><span class="formexample"> e.g. 389 or 100-200</span></td>
<td align='right'>{{ KNOWL('ec.q.j_invariant',title = "j-invariant") }}</td>
<td><input type='text' name='jinv' example=1728 size=10 value="{{jinv}}" /></td>
<td><span class="formexample"> e.g. 1728 or -4096/11</span></td>
</tr>

<tr>
<td align='right'>{{ KNOWL('ec.q.rank',title="rank") }}</td>
           <td>
           <input type='text' name='rank' example="0" size=10 value="{{rank}}" />
           </td>
           <td><span class="formexample"> e.g. 0 </span>
           </td>
	<td align='right'>
          {{ KNOWL('ec.q.analytic_sha_order',title="analytic order of &#1064;") }}
          </td>
          <td><select name='sha_quantifier'><option value='is_equal' selected='is_equal'>equals</option><option value='divisible'>divisible by</option></select>
          <input type='text' name='sha' example="4" size=8 />
          </td>
          <td>
          <span class="formexample"> e.g. 4 </span>
          </td>
    </tr>

    <tr>
          <td align='right'>
          {{ KNOWL('ec.q.torsion_order',title="torsion order") }}
          </td>
          <td>
          <input type='text' name='torsion' example="2" size=10 value="{{torsion}}" />
          </td>
          <td>
          <span class="formexample"> e.g. 2 </span>
          </td>

          <td align='right'>
          {{ KNOWL('ec.q.torsion_subgroup',title="torsion structure") }}
          </td>
          <td>
          <input type='text' name='torsion_structure' example="[2,4]" size=10 value="{{torsion_structure}}" />
          </td>
          <td>
          <span class="formexample"> e.g. [2,4] </span>
          </td>
      </tr>
<tr>
<td align='right'>{{ KNOWL('ec.q.bad_reduction_primes',title="primes of bad reduction") }}</td>
<td><select name='bad_red_quantifier'><option></option><option value='include'>include</option><option value='exactly'>exactly</option><option value='exclude'>exclude</option></select><input type='text' name='list_bad_red' example="2,3,5" size=10></td><td><span class="formexample"> e.g. 2,3,5 </span></td>
<td align='right'>semistable</td><td><select name='semistable'> <option></option> <option value="yes">yes</option> <option value="no">no</option></select></td>
</tr>


    <tr>
      <td align='right'>{{ KNOWL('ec.q.modular_degree',title="Modular degree") }}</td>
      <td><select name='mod_deg_quantifier'><option value='is_equal' selected='is_equal'>equals</option><option value='divisible'>divisible by</option></select><input type='text' name='mod_deg' example="4" size=8 /></td>
       <td><span class="formexample"> e.g. 4 </span></td>
      <td align='right'>{{ KNOWL('ec.q.optimal',title="Optimal only") }}</td>
      <td>
         <select name='optimal'>
<option></option>
{% if optimal=='on' %}
           <option value="">No</option>
           <option value="on" selected="yes">Yes</option>
{% else %}
           <option value="">No</option>
           <option value="on">Yes</option>
{% endif %}
         </select>
      </td>

    </tr>
<tr><td align='right'>{{ KNOWL('ec.cm',title="CM") }}</td><td><select name='cm'> <option></option> <option value="no_cm">no</option> <option value="cm">yes</option></select></td><td></td>
</tr>
</table>



<h5> Galois Representation </h5>

<table>
<tr>
<td align='right'>{{KNOWL('ec.q.surjective_prime', title='surjective primes')}}</td>
<td><input type='text' name='surj_primes' size=5 example='2,3'></td>
<td><span class="formexample"> e.g. 2,3</span></td>
<td></td>
<td align='right'>{{KNOWL('ec.q.non-surjective_prime', title='non-surjective primes')}}</td>
<td><select name='surj_quantifier'><option></option><option value='include'>include</option><option value='exactly'>exactly</option></select>
<input type='text' name='nonsurj_primes' size=5 example='2,3'></td>
<td><span class="formexample"> e.g. 2,3</span></td>
</tr>	
</table>

<table id="mod_p_images">
<tr>
<td colspan=3>{{KNOWL('ec.q.galois_rep_image', title='Image')}} of the {{KNOWL('ec.galois_rep', title='mod $p$ Galois representation')}} at <input type='text' name='residue_prime' size=5 example= 5> is contained in <select name='image_modp' width="122" style="width: 122px">
        <option ></option>
    {% for image in info.list_image_modp %}
        <option value='{{image}}'>{{info.dict_image_modp[image]}}</option>
    {% endfor %}
</select> <span class="formexample">e.g. 5 or 3,5; Borel</span>
</td><td>
  <button type='button' id='more_modp_button'>add a prime</button>
</td>
</tr>
</table>

<table id="modp_labels">
<tr>
<td colspan=3>{{KNOWL('ec.q.galois_rep_image', title='Image')}} of the {{KNOWL('ec.galois_rep', title='mod $p$ Galois representation')}} at <input type='text' name='residue_prime2' size=5 example= 3> has label <input type='text' name='label_image_modp' size=3 example= B.1.1><span class="formexample"> e.g. 3,B.1.1</span>
</td><td>
<button type='button' id='more_modp_label_button'>add a prime</button>
</td>
</tr>
</table>

<table>
<tr>
<td colspan=3>Image of the {{KNOWL('ec.galois_rep',title='2-adic representation')}} has {{KNOWL('ec.rouse_label', title='Rouse label')}} <input type='text' name='rouse_label' size=5 example= X181e><span class="formexample">  e.g. X181e</span>
</td>
</tr>
</table>

<p>Maximum number of curves to display <input type='text' name='count' value={{count}} size=10 ></p>


<p></p>
<button type='submit' value='Search'>Search</button>
</form>



{% endif %}
<script>
//Try to get tbody first with jquery children. works faster!
var tbody = $('#mod_p_images').children('tbody');

//Then if no tbody just select your table 
var table = tbody.length ? tbody : $('#mod_p_images');


$('#more_modp_button').click(function(){
    //Add row
    table.append("<tr><td align='right' colspan=3> at <input type='text' name='residue_prime' size=5 example= 5> is contained in <select name='image_modp' width='122' style='width: 122px'><option ></option>{% for image in info.list_image_modp %}<option value='{{image}}'>{{info.dict_image_modp[image]}}</option>{% endfor %}</select></select> <span class='formexample'>e.g. 5 or 3,5; Borel</span></td><td><button type='button' onclick='deleteRow(this)'>remove</button></td></tr>");
    return false;
})

function deleteRow(btn) {
  var row = btn.parentNode.parentNode;
  row.parentNode.removeChild(row);
}
</script>

<script>
//Try to get tbody first with jquery children. works faster!
var tbody1 = $('#modp_labels').children('tbody');

//Then if no tbody just select your table 
var table1 = tbody1.length ? tbody1 : $('#modp_labels');


$('#more_modp_label_button').click(function(){
    //Add row
    table1.append("<tr><td align='right'colspan=3>at <input type='text' name='residue_prime2' size=5 example= 3> has label <input type='text' name='label_image_modp' size=3 example= B.1.1><span class='formexample'> e.g. 3,B.1.1</span></td><td><button type='button' onclick='deleteRow(this)'>remove</button></td></tr>");
    return false;
})
</script>

{% endblock %}
